.contentWrapper{
  position: relative;
}

.closeBtn{
  position: absolute;
  top: 20px;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 1px;
  box-sizing: border-box;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.centeredText{
  text-align: center;
}

.pic{
  margin: 60px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  background: url('../../images/Vector1.svg'), url('../../images/Vector2.svg'), url('../../images/Vector3.svg');
  background-repeat:no-repeat, no-repeat, no-repeat;
  background-position: center, center, center;
}

.pic>svg{
  width: 48px;
  height: 48px;
}
