.content{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  overflow-y: scroll;
  max-height: 600px;
}

.content::-webkit-scrollbar {
  width: 8px;
  box-sizing: border-box;
  background: #2F2F37;
  margin-bottom: 52px;
}

.content::-webkit-scrollbar-thumb {
  height: 292px;
  background: #8585AD;
}
