.button{
  display: flex;
  flex-direction: row;
  gap: 8px;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
}

.headerActiveBtn {
  color: #F2F2F3;
}

.headerInactiveBtn {
  color: #8585AD;
}

.toRight{
  justify-self: end;
}
