.header{
  background: #1C1C21;
}

.content{
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,minmax(min-content, 1fr));
  max-width: 1280px;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
}

.mainMenu{
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-self: start;
}

.mainMenuListItem{
  list-style: none;
}
