.title{
  margin: 0;
  line-height: 64px;
  flex: 1;
}

.centerText{
  text-align: center;
}

.img{
  box-sizing: border-box;
  width: 520px;
}

.name{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.infosWrapper{
  display: flex;
  justify-content: space-between;
}

.infoWrapper{
  text-align: center;
}

.titleWrapper{
  display: flex;
  gap: 36px;
  align-items: center;
  box-sizing: border-box;
  width: 640px;
}

.infoText{
  margin: 0;
}
