.content{
  display: grid;
  grid-template-columns: 64px 1fr max-content;
  gap: 16px;
  box-sizing: border-box;
  align-items: center;
}

.name{
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.total{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}
