.content{
  margin: auto;
  display: grid;
  max-width: 1240px;
  max-height: 889px;
  box-sizing: border-box;
}

.MAIN_CONTENT_GAP_FEED{
  column-gap: 60px;
  grid-template-columns: 600px 580px;
}

.MAIN_CONTENT_GAP_STD{
  column-gap: 40px;
  grid-template-columns: repeat(2, 590px);
}
